<div class="container bg-dark">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-success">Home</a></li>
      <li class="nav-item"><a routerLink="/creatures" class="nav-link px-2 text-success">Creatures</a></li>
      <li class="nav-item"><a routerLink="/equipment" class="nav-link px-2 text-success">Equipment</a></li>
      <li class="nav-item"><a routerLink="/materials" class="nav-link px-2 text-success">Materials</a></li>
      <li class="nav-item"><a routerLink="/monsters" class="nav-link px-2 text-success">Monsters</a></li>
      <li class="nav-item"><a routerLink="/treasure" class="nav-link px-2 text-success">Treasure</a></li>
    </ul>
    <p class="text-center text-success">© 2025 Solvam, Inc</p>
  </footer>
</div>
