img{
  border: #c9afe1 solid 1px;
  transition: .3s;
  border-radius: 10px;
  width: 150px;
}

img:hover{
  border: blueviolet solid 1px;
  transition: .5s;
  cursor: pointer;
  transform: scale(105%);
}
